// -----------------------------------------------------------------------------
// This file contains styles that are specific to the page page.
// -----------------------------------------------------------------------------

.page-template {

}