// -----------------------------------------------------------------------------
// This file contains styles that are specific to the post page.
// -----------------------------------------------------------------------------

.post-template {

}