// -----------------------------------------------------------------------------
// This file contains styles that are specific to the tag page.
// -----------------------------------------------------------------------------

.tag-template {

}