// -----------------------------------------------------------------------------
// This file contains all styles related to the post component.
// -----------------------------------------------------------------------------